.form {
  background: var(--white);
  padding-bottom: 16.4rem;
  position: relative;
  z-index: 2;
}

.form__button.main-button {
  max-width: 36rem;
  background: var(--gray);
  color: var(--white);
  margin-top: 1.6rem;
}

.form p {
  font-size: 1.8rem;
  line-height: 1.6;
  padding-bottom: 1.6rem;
}

.form a {
  font-size: 1.8rem;
  color: var(--blue);
}
