@import "fonts.css";
@import "footer.css";
@import "form.css";
@import "global.css";
@import "header.css";
@import "tracks.css";
@import "variables.css";
@import "waves.css";

main {
  position: relative;
  z-index: 1;
  background: var(--white);
}

.mute-button {
  content: "";
  position: sticky;
  margin-top: 3.2rem;
  right: 1.6rem;
  margin-left: auto;
  bottom: 2rem;
  width: 6rem;
  height: 6rem;
  z-index: 1;
  background: var(--blue);
  border-radius: 50%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
}

.mute-button p {
  font-size: 2.6rem;
}

@media screen and (min-width: 900px) {
  .mute-button {
    right: 3.2rem;
    bottom: 4rem;
    width: 8rem;
    height: 8rem;
  }

  .mute-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }

  .mute-button p {
    font-size: 3rem;
  }
}
