@import "fonts.css";
@import "footer.css";
@import "form.css";
@import "global.css";
@import "header.css";
@import "tracks.css";
@import "variables.css";
@import "waves.css";

main {
  position: relative;
  z-index: 1;
  top: 100vh;
}
